* {
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

img{
  max-width: 100%;
}
.header{
  background-image: url("bilder/header.svg");
  text-align: end;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px;
  animation: fadeIn 3s;
  background-size: contain;

}

.navbar{
  display: flex;
  justify-content: space-around;
  width: 98.9%;
  padding: 20px;
  margin-top: 0px;

}
.animerad-text{
  font-size: 30px;
  min-width: 280px;
  margin-top: 200px;
  padding-top: 200px;
  padding-right: 160px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.animerad-text span{
  position: relative;
}

.animerad-text span::before{
  content: "digital designer";
  color: #000;
  animation: words 5s infinite;
}

.animerad-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #ffffff;
  border-left: 2px solid #000;
  right: -8px;
  animation: cursor .7s infinite, typing 20s steps(14) infinite;


}

@keyframes cursor {
  to{
    border-left: 2px solid #ffffff;
    
  }
}

@keyframes words {
    0%,20%{
      content: "digital designer"
    }
    
   
  }
  
@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
}
.hem{
  text-decoration: underline;
}

.hem:hover{
  text-decoration-color: rgb(205, 189, 177);
}


a {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a:hover {
  color: rgb(205, 189, 177);
  transform: scale(1);
  font-weight: bold;
}

.minaprojekt, .rubrik, .scrolla{
  text-align: center;

}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.minaprojekt, .rubrik{
  font-size: 80px;
  margin-bottom: 20px;
}
.minaprojekt, .scrolla{
  font-size: 15px;
  padding-bottom: 40px;
}
 .grow{
  border-radius: 7px;
  display: flex;
  margin: 0 auto 50px auto;
  width: 80%;
  box-shadow: 10px 10px 20px lightgray
  
 }

 .loop-kort1{
  flex-direction: column;
  background-color: #3C3D22;
  color: #ffffff;
  width: 65%;
  height: 420px;
  border-radius: 7px 0 0 7px;
 }

 .loop-kort1 h1{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 100px;
  padding: 60px 80px 0 80px;
  margin: 0;
 }



 .loop-kort1 h2{
  display: flex;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  padding: 0 80px;
 }

 .loop-kort2{
  display: flex;
  background-image: url(bilder/mockup-loop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 35%;
  height: 420px;
  border-radius: 0 7px 7px 0;

 }

 

 .grow a {
  color: white;
  text-decoration: none;
  border: 1px solid;
  padding: 16px 24px;
  font-size: 1rem;
  margin: 60px 80px;
  display: inline-block;
}

.grow a:hover{
  background-color: rgb(205, 189, 177);
  border-color: rgb(205, 189, 177);
  color: #3C3D22;
  border-radius: 7px;
}
.grow { 
  transition: all .2s ease-in-out; 
  display: flex;
  }
  
  .grow:hover { 
  transform: scale(1.05); 
  }

.grow2{
 display: flex;
 border-radius: 7px;
 margin: 0 auto 50px auto;
 width: 80%;
 box-shadow: 10px 10px 20px lightgray



}

.pro-tech-kort1{
 flex-direction: column;
 background-color: white;
 color: #000;
 width: 65%;
 height: 420px;
 border-radius: 7px;
 border-radius: 0 7px 7px 0;

}

.pro-tech-kort1 h1{
 font-family: 'Plus Jakarta Sans', sans-serif;
 font-size: 100px;
 padding: 60px 80px 0 80px;
 margin: 0;
 text-align: end;
 
}



.pro-tech-kort1 h2{
 display: flex;
 font-family: 'Plus Jakarta Sans', sans-serif;
 font-size: 20px;
 padding: 0 80px;
 justify-content: end;

}

.pro-tech-kort2{
 display: flex;
 background-image: url(bilder/mockup-protech.svg);
 background-repeat: no-repeat;
 background-position: center center;
 width: 35%;
 height: 420px;
 border-radius: 7px 0 0 7px;
 

}




.grow2 a {
 color: black;
 text-decoration: none;
 border: 1px solid;
 padding: 16px 24px;
 font-size: 1rem;
 margin: 60px 80px;
 display: inline-block;
}

.grow2 .wrapper-link{
  text-align: end;
}

.grow2 a:hover{
 background-color: black;
 border-color: black;
 color: white;
 border-radius: 7px;
}

.grow2 { 
  transition: all .2s ease-in-out; 
  display: flex;
  }
  
  .grow2:hover { 
  transform: scale(1.05); 
  }
 
.footer{
  border-top: 1px solid #000;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #000;
  color: #ffffff;
}

.footer a{
  color: #ffffff;
  justify-content: start;
}

.footer h1{
font-weight: 600;
font-size: 18px;
}



  @media screen and (max-width: 800px) {
    .header h1 {
      font-size: 50px;
    }
    .header h2{
      font-size: 10px;
    }

    .header h3 {
font-size: 20px;
    }
  

   .projektbild{
    width: 100%;
   }
   
   .navbar{
    align-items: start;
    font-size: 20px;
    flex-direction:column;
    gap: 10px;

  
  
   }

 .animerad-text{
  font-size: 20px;
  padding-top: 180px;
  padding-bottom: 180px;
  padding-right: 120px;
  margin-top: 130px;
  
  
 }
 .header{

  background-image: url("bilder/headertillmobilen.svg");
  max-width: 100%;
  text-align:end;
  background-repeat: no-repeat;


}

.grow{
  flex-direction: column-reverse;
}

.loop-kort1{
  width: 100%;
  border-radius: 0px 0px 7px 7px;
  margin: 0;
  margin: 0 auto;
}
.loop-kort2{
  width: 100%;
  height: 350px;
  margin: 0;
  border-radius: 7px 7px 0 0;
}

.grow a{
  text-align: center;
}

.grow h1{
  padding: 30px 10px 0px 10px;
  text-align: center;
  font-size: 80px;
  border-radius: 0;
}
.grow h2{
  width: 55%;
  font-size: 15px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.grow a{
  margin-top: 100px;
}

  
.grow2{
  flex-direction: column;
}

.pro-tech-kort1{
  width: 100%;
  border-radius: 0px 0px 7px 7px;
  margin: 0;
  margin: 0 auto;
}
.pro-tech-kort2{
  width: 100%;
  height: 350px;
  margin: 0;
  border-radius: 7px 7px 0 0;
}

.grow2 a{
  text-align: center;
}

.grow2 h1{
  padding: 50px 0 0 0;
  text-align: center;
  font-size: 80px;
  border-radius: 0;
}
.grow2 h2{
  width: 55%;
  font-size: 15px;
  margin: 0 auto;
  padding: 0px;
  justify-content: center;
}

.grow2 a{
  margin-top: 100px;
  text-align: center;
}

.footer{
  padding: 20px 40px;
}
.footer .copyright{
  font-size: 10px;
  text-align: center;
  width: 33%;

}
.footer .sociala-medier {
  width: 40%;
  text-align: center;
  
}
.footer a{
  justify-content: center;
}
.footer .kontakt{
  display: none;
}
}

  
  



    
