* {
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0;
}

.animerad-text{
  font-size: 30px;
  min-width: 280px;
  margin-top: 200px;
  padding-top: 140px;
  padding-bottom: 60px;
  padding-left: 4px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.animerad-text span{
  position: relative;
}

.animerad-text span::before{
  content: " - en ny väg till klädglädje";
  color: #000;
  animation: words 5s infinite;
}

.animerad-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #ffffff;
  border-left: 2px solid #000;
  right: -8px;
  animation: cursor .7s infinite, typing 20s steps(14) infinite;


}

@keyframes cursor {
  to{
    border-left: 2px solid #ffffff;
    
  }
}

@keyframes words {
    0%,20%{
      content: " - en ny väg till klädglädje"
    }
    
   
  }
  
@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

img{
  max-width: 100%;
}
.header{
  background-image: url("bilder/header-loop.svg");
  text-align: left;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 60px;
  animation: fadeIn 3s;
  box-shadow: 10px 10px 20px lightgray

}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
   }


.navbar img{
  max-width: 30px;
  max-height: 30px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  width: 98.9%;
  padding: 20px;
  margin-top: 0px;

}
.projekt{
  text-decoration: underline;
}

.projekt:hover{
  color: rgb(205, 189, 177);
}

a {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a:hover {
  color: rgb(205, 189, 177);
  transform: scale(1);
  font-weight: bold;
  text-decoration: none;
 
}

.loop-beskrivning1{
  
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  background-color: #C2B9A7;
  height: 450px;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 60px;
  border-radius: 7px;
  box-shadow: 10px 10px 20px lightgray
  
}

.loop-beskrivning1 .bakgrundstext{
  width: 40%;
  padding-right: 60px;
  border-right: 1px solid #000;
}

.loop-beskrivning1 p{
  padding-bottom: 30px;
  
}

.loop-beskrivning1 .uppgiftstext{
  width: 40%;
  padding-left: 60px; 
}





.footer{
  border-top: 1px solid #000;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #000;
  color: #ffffff;
}

.footer a{
  color: #ffffff;
  justify-content: start;
}

.footer h1{
font-weight: 600;
font-size: 18px;
}

.video{
text-align: center;

}

.navigering-video h1{
  text-align: center;
  padding: 50px;
}










@media screen and (max-width: 800px) {
 


 
 .navbar{
  gap: 10px;
  align-items: start;
  font-size: 20px;
  flex-direction:column
  

 }

.animerad-text{
font-size: 20px;
padding-top: 90px;
padding-bottom: 100px;
color: #3C3D22;
text-align: center;

}
.header{

background-image: url("bilder/LOOP-HEADER.svg");
max-width: 100%;
text-align:end;
background-repeat: no-repeat;
animation: fadeIn 3s;

}
.loop-beskrivning1{
  flex-direction: column;
  margin: 0 auto;
  background-color: #C2B9A7;
  height: 870px;
  margin-top: 80px;
  margin-bottom: 60px;
  border-radius: 7px;
  box-shadow: 10px 10px 20px lightgray;
  padding-left: 30px;
  padding-right: 30px;
  
}

.loop-beskrivning1 .bakgrundstext{
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 0;
  border-right: none;
}
.loop-beskrivning1 .uppgiftstext{
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 0;
}

.loop-beskrivning1 p{
  padding-bottom: 50px;
  border-bottom:  1px solid #000;
}

.loop-beskrivning1 h1{
  padding-top: 20px;
}


.navigering-video h2{
  text-align: center;
}
.video{
  padding: 22px;

}

.footer{
  padding: 20px 40px;
}
.footer .copyright{
  font-size: 10px;
  text-align: center;
  width: 33%;

}
.footer .sociala-medier {
  width: 40%;
  text-align: center;
  
}
.footer a{
  justify-content: center;
}
.footer .kontakt{
  display: none;
}
 }







  
   
  



    
